.card_suggest {
  position: relative;
  width: 100%;
  padding: 0.5rem;
}

.card_suggest__input {
  width: 100%;
  padding: 0.5rem;
  background-color: transparent;
  border-width: 1px;
  border-color: rgb(128 128 128);
  border-radius: 0.375rem;
}

.card_suggest__option {
  user-select: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(0 0 0);
  cursor: default;
}

.card_suggest__option[data-focus] {
  background-color: rgb(30 64 175);
}

.card_suggest__img {
  display: inline-block;
  width: 27px;
  height: 27px;
}
